{% load static %}
<script type="text/javascript" src="{{ STATIC_URL }}map_panels/vendor/angular.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}map_panels/vendor/ol.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}map_panels/vendor/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}map_panels/vendor/ui-layout/ui-layout.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}map_panels/vendor/ngeo/ngeo.js"></script>
<!-- markdown widget -->
<script type="text/javascript" src="{{ STATIC_URL }}map_panels/vendor/showdown/src/showdown.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}map_panels/vendor/angular-markdown-directive/markdown.js"></script>
<!-- map widget -->
<script type="text/javascript" src="{{ STATIC_URL }}angular-cartoview-map/map.js"></script>
<script type="text/javascript">
	var GEOSERVER_BASE_URL = "{{ GEOSERVER_BASE_URL }}";
	var PROXY_URL = "{{ PROXY_URL }}";
	var MEDIA_URL = "{{ MEDIA_URL }}";
	var MAP_CONFIG_URL = "{% url 'map_panels.map_config' %}";
	var appConfig = {{instance.map_config|safe}};
</script>
<script type="text/javascript" src="{{ STATIC_URL }}map_panels/js/view-app.js"></script>